body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    color: #111;
    text-align: center;
}

h1 {
  font-weight: 300;
  line-height: 1.375;
  letter-spacing: -0.05em;
  margin: 0 0 1rem 0;
}

h1 {
  font-size: 2.5rem;
}

a {
  color: #000000;
}

  a:hover {
    color: #47D3E5;
  }

#map {
    height: 75vh;
    width: 100%;
}
